<app-sidebar [selected$]=5></app-sidebar>
<div class="page">
  <div class="flex-container animate">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 tabela">

      <!-- Position Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Usuario
        </th>
        <td mat-cell *matCellDef="let element"><div class="name-decorator">
          @{{element.name}}
        </div>  </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by action">
          Ação
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.action}}
        </td>
      </ng-container>

      <ng-container matColumnDef="quando">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time_ago">
          Quando
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.time_ago}}
        </td>
      </ng-container>

      <tr class="header-tabela" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="viewAction(row)"[ngClass]="{'row-tabela': row.deleted == false, 'row-tabela-deleted': row.deleted != true, 'hideDeleted': showDeleted == false && row.deleted == false}"  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="paginacao" >
      <mat-paginator [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Seleciona pagina do historico">
      </mat-paginator>
      <mat-checkbox class="checkbox" (change)="toggleShowDeleted()" #checkbox value="" color="primary">Mostrar Deletados</mat-checkbox>

    </div>
  </div>
</div>
