
<div class="title">
  <mat-icon class="title-icon">edit</mat-icon>
  Edit Usuário
</div>

<hr class="divider">

<div class="inputs-container">
  <mat-form-field class="input-email" appearance="fill">
    <mat-label>Email Usuário</mat-label>
    <input (keydown)="inputChanged()" type="email" matInput value="{{data.email}}" #email required>
  </mat-form-field>

  <div class="input-group">
    <mat-form-field class="input-nome" appearance="fill">
      <mat-label>Nome Usuário</mat-label>
      <input (keydown)="inputChanged()" matInput value="{{data.name}}" #nome required>
    </mat-form-field>

    <mat-form-field class="input-nome" appearance="fill">
      <mat-label>Nova Senha</mat-label>
      <input (keydown)="inputChanged()" type="password" matInput #password>
    </mat-form-field>
  </div>
  <ng-container *ngIf="cargos$ | async as cargos">
    <mat-form-field appearance="fill">
      <mat-label>Selecione o cargo</mat-label>
      <mat-select (selectionChange)="inputChanged()" [value]="data.cargo.id" #cargo required>
        <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
          {{cargo.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

</div>

<div class="buttons-container">
  <ng-container *ngIf="canSubmit$ == true">
    <button (click)="submitEdit()" mat-raised-button class="button btn-form" color="primary">
      <mat-icon class="btn-icon">save</mat-icon>
      Salvar
    </button>
  </ng-container>
  <ng-container *ngIf="canSubmit$ == false">
    <button mat-raised-button class="button btn-form" disabled color="primary">
      <mat-icon class="btn-icon">save</mat-icon>
      Salvar
    </button>
  </ng-container>
  <button (click)="closeDialog()" mat-raised-button class="button btn-form" color="warn">Cancelar</button>
</div>


