
<div class="title">
  <mat-icon class="title-icon">edit</mat-icon>
  Edit Usuário
</div>

<hr class="divider">

<div class="inputs-container">
  <div class="input-group">
    <mat-form-field class="input-nome" appearance="fill">
      <mat-label>Nome Usuário</mat-label>
      <input matInput value="{{data.nome}}">
    </mat-form-field>

    <mat-form-field class="input-nome" appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput value="{{data.senha}}">
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Selecione o cargo</mat-label>
    <mat-select [value]="data.cargo.nome">
      <mat-option *ngFor="let cargo of cargos" [value]="cargo.nome">
        {{cargo.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="buttons-container">
  <button mat-raised-button class="button btn-form" disabled color="primary">
    <mat-icon class="btn-icon">save</mat-icon>
    Salvar
  </button>
  <button (click)="closeDialog()" mat-raised-button class="button btn-form" color="warn">Cancelar</button>
</div>


