@import "/src/assets/css/colors-scheme.scss";

:host {
  display: flex;
  height: 100vh;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
  //  background-color: $background-color;
   width: 100%;
   color:  $background-text-color;
}

.page {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  width: 100%;
  overflow: auto;
}

@media only screen and (max-width: 880px) {
  :host {
    flex-direction: column;
  }

}

@media only screen and (max-width: 1000px) {
  .page {
    margin-left: 0px;
    height: calc(100% - 65px);
    flex-direction: column;
    align-items: center;
  }

  .flex-container {

    max-height: 330px !important;
  }
}

.theme-changer{
  color: $text-color;
  background-color: $secondary-color;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top:0;
  right: 0;
  margin:30px
}

.theme-changer:hover {
  cursor: pointer;
  background-color: $primary-color;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  min-height: 300px;
  align-items: center;
  border-radius: 10px;
  overflow: auto;
  background-color: $background-color;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

@keyframes animate-slide-fade {
  0% {
    opacity: 0;
    z-index: -1000;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animateSlider {
  animation-duration: 0.3s;
  animation-name: animate-slide-fade;
  animation-fill-mode: backwards;
}

.title-span {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  width: 325px;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: -40px;
}


.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.username{
  font-size: x-large;
  user-select: text;
  margin: 0;
}


.inputs-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.divider{
  width: 300px;
}

h1 {
  text-align: center;
}

.end-flex {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 20px;
  width: 200px;
}

.start-flex {
  padding: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
}
