
<div class="title">
  <mat-icon class="title-icon">description</mat-icon>
  Servidor Info
</div>

<hr class="divider">

<div class="data-container">
  <h1 class="sub-title">ID:</h1>
  <p class="data">{{data.id}}</p>
  <br>
  <h1 class="sub-title">Código Serial:</h1>
  <p class="data">{{data.serial}}</p>
  <br>
  <h1 class="sub-title">Criado em:</h1>
  <p class="data">28/11/2023</p>
</div>

<div class="buttons-container">
  <button (click)="closeDialog()" mat-raised-button class="button btn-form" color="warn">Cancelar</button>
</div>






