
<div class="title">
  <mat-icon class="title-icon">description</mat-icon>
  Servidor Info
</div>

<hr class="divider">

<div class="data-container">
  <h1 class="sub-title">ID:</h1>
  <p class="data">{{data.id}}</p>
  <br>
  <h1 class="sub-title">Criado em:</h1>
  <p class="data">{{created_at}}</p>
  <br>
  <ng-container *ngIf="data.deleted_at != null">
    <h1 class="sub-title">Deletado em:</h1>
    <p class="data">{{deleted_at}}</p>
  </ng-container>
</div>

<div class="buttons-container">
  <button (click)="closeDialog()" mat-raised-button class="button btn-form" color="warn">Cancelar</button>
</div>






