// $background-color: #EDF8F3;
$background-color: var(--background-color);

$background-text-color: var(--background-text-color);
// $primary-color: #9ca3f1;
$primary-color: var(--primary-color);

// $secondary-color: #e6effa;
$secondary-color: var(--secondary-color);
// $accent-color: #192ae1;
$accent-color: var(--accent-color);
// $text-color: #1c1a03;
$text-color: var(--text-color);
