@import "/src/assets/css/colors-scheme.scss";

:host{
  width: 100%;
  display: flex;
  background-color: $background-color;

  // background-color: #e5e5f7;
  // background-color: #e5e5f7;
  // opacity: 0.8;
  background-color: #e5e5f7;
  background-color: #e5e5f7;
  opacity: 1;
  background: linear-gradient(135deg, #aaadd555 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #aaadd5 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #aaadd555 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #aaadd5 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

// .login-form{
//   width: 100%;
//   max-width: 400px;
//   margin: auto;
//   padding: 20px;
//   border-radius: 5px;
//   box-shadow: 0px 0px 10px 0px #00000040;
// }
