
:host {
    display: flex;
    height: 100vh;
    // transition: all 1s ease-in-out;
    background-image: url("../assets/cool-background.png");
    background-size: cover;
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../assets/fonts/AzeretMono-Regular.ttf');
  }

