@import "/src/assets/css/colors-scheme.scss";

:host{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  overflow: hidden;
  // width: 650px;
  height: 400px;
  background-color: $secondary-color;
  display: flex;
}

.logo{
  height: 100px;
}

.left-container {
  display: flex;
  width: 250px;
  height: 100%;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
}

.form{
  width: 300px;
  // border-radius: 15px;
  background-color: $secondary-color;
  padding: 20px;
  padding-bottom: 0px;
  // box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}
.loadbar{
  position: relative;
  width: 350px;
  margin-top: 10px;
  margin-left: -30px;
  transition: 1 all;
}

.loadbar-div{
  margin-top: 14px;
}
