@import "/src/assets/css/colors-scheme.scss";

:host{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.container {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  height: 400px;
  width: 600px;
  background-color: transparent;

}

.logo{
  margin-top: 34px;

  height: 80px;
  opacity: 1;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  background-color: #8ecae6;

  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.right-container{
  width: 55%;
  height: 100%;
  // border-radius: 15px;
  background-color: white;

  // box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.title {
  text-align: center;
  color: black;
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  margin: 0
}


.sub-title {
  color: rgb(73, 71, 71);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sub-logo-text {
  text-align: center;
  font-size: 11px;
  color: rgb(73, 71, 71);

  font-weight: 500;
}


.form-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.load-bar-container{
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.loadbar{
  width: 100%;
  transition: 1 all;
}

