@import "/src/assets/css/colors-scheme.scss";

:host {
    display: flex;
}

.bay{
  display: flex;
  width: 100%;
  justify-content: right;
}

.config-icon {
  height: 25px;
  margin-right: 5px;
  padding: 0px;
  transition: all 0.1s ease-in-out;
  padding: 5px;
}

.config-icon:hover {
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 25px;

}

.sidebar {
    width: 250px;
    background-color: $secondary-color;
    //background-color: #0466c8;
    // border-top-right-radius: 5px;
    // border-bottom-right-radius: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    user-select: none;
    padding-top: 20px;

}

.span {
    display: flex;
    align-items: center;
    color: $text-color;
    transition: all 0.1s ease;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 5px;
}

.span-selected{
    background-color: $primary-color
}


.span-bump{
  position: absolute;
  opacity: 0;
  height: 0px;
  width: 5px;
  background-color: $primary-color;
  margin-left: -36px;
  border-radius: 25px;
  transition: all 0.1s ease-in-out;
}

// .bump-active {
//   opacity: 1;
//   height: 25px;
// }

.span:hover{
    background-color: $primary-color;
    cursor: pointer;

    .span-bump{
      display: block;
      height: 25px;
      opacity: 1;
    }

    // .bump-active {
    //   opacity: 0;
    //   height: 0px;
    // }
}

.span-selected:hover{
  cursor: default;
}

.span-text{
    margin: 0;
    font-size: medium;
}

.span-icon{
    height: 25px;
    margin-right: 10px;
}


.subtitle-text {
    color: $accent-color;
    font-size: normal;
    font-family: 'Azeret Mono';
    margin-bottom: 10px;
}

.title-span {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    flex-direction: row;
    color: $text-color;
}


.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.username{
    text-overflow:ellipsis;
    overflow: hidden;
    width: 250px;
    font-size: large;
    user-select: text;
    color: $text-color;
    margin: 0;
}

// .theme-changer{
//   color: $text-color;
//   transition: all 0.3s ease-in-out;
//   padding: 5px;
//   border-radius: 10px;
// }

.theme-changer {
  height: 25px;
  margin-right: 5px;
  padding: 0px;
  transition: all 0.1s ease-in-out;
  padding: 5px;
}

.theme-changer:hover {
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 25px;

}


.user-type{
    font-size: small;
    color: $primary-color;
}

hr {
    margin-top: 20px;
    height: 0px;;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    background-color: $text-color;
}

.flex-full {
    display: flex;
    height: 100%;

}

.footer {
    margin-top: auto;
    display: flex;
    padding: 10px;
    font-size: medium;
    width: 100%
}

.footer-section {
    width: 46px;
    display: flex;
    justify-content: left;
    color: $text-color;
    border-radius: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    align-items: center;
    font-weight: 400;

}

.logout-tool-bar-icon{
  height: 25px;
}

.bay-toolbar {
  align-items: center;
}

.footer-section:hover{
    cursor: pointer;
    background-color: $primary-color;
}

.footer-icon{
    transform: scale(2.5);
    margin-right: 10px;
}

.logout{
    color: rgb(252, 6, 6);
}

.menu-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: none;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: $secondary-color;
  color: $text-color
}

.toolbar-subtitle {
  margin-left: 20px;
}

.toolbar-menu{
  background-color: $secondary-color;
}

@media only screen and (max-width: 880px) {
  .sidebar{
    display: none
  }

  .toolbar{
    display: flex;
  }
}
