@import "/src/assets/css/table-style.scss";

:host {

  display: flex;
  height: 100vh;
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;

}

.page {
  margin-left: 10px;
  width: 100%;
}

@media only screen and (max-width: 880px) {
  .page {
    margin-left: 0px;
    height: calc(100% - 65px);
  }

  :host {
    flex-direction: column;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: $background-color;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

