<app-sidebar [selected$]=1></app-sidebar>

<div class="page animate">
  <div class="flex-container">
    <div class="size-1">
        <div class="totals-container">
          <div class="totals-child">
            <div class="flex">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
              </svg>

              <div [countUp]=clienteCount [duration]="1000" class="display_numero" id="pedidos_value"></div>
              <br>
            </div>
            <h1 class="titulo">Clientes</h1>
          </div>
          <div class="totals-child">
            <div class="flex">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 14.25h13.5m-13.5 0a3 3 0 01-3-3m3 3a3 3 0 100 6h13.5a3 3 0 100-6m-16.5-3a3 3 0 013-3h13.5a3 3 0 013 3m-19.5 0a4.5 4.5 0 01.9-2.7L5.737 5.1a3.375 3.375 0 012.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 01.9 2.7m0 0a3 3 0 01-3 3m0 3h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008zm-3 6h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008z" />
              </svg>

              <div [countUp]=serverCount [duration]="1000" class="display_numero" id="pedidos_value"></div>
              <br>
            </div>
            <h1 class="titulo">Servidores</h1>
          </div>
        </div>
    </div>
    <div class="size-1">
      <div class="totals-container">
        <div class="totals-child">
          <div class="flex">
            <svg class="icon ativados" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <div [countUp]=serversAtivo [duration]="1000" class="display_numero" id="pedidos_value"></div>
            <br>
          </div>
          <h1 class="titulo">Ativos</h1>
        </div>
        <div class="totals-child">
          <div class="flex">
            <svg class="icon desativados" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <div [countUp]=serversInativo [duration]="1000" class="display_numero" id="pedidos_value"></div>
            <br>
          </div>
          <h1 class="titulo">Desativados</h1>
        </div>
      </div>
    </div>
    <div class="size-2">
      <div class="chart-container">
        <canvas class="chart-canvas"  id="MyChart" >{{ chart }}</canvas>
      </div>
    </div>


  </div>
</div>

